@font-face {
  font-family: Fixedsys;
  src: url('../design/Fixedsys.ttf');
    }
    
* {
  cursor: url("../design/greencursor.png"), default;
    }
    
body {
  cursor: url("../design/greencursor.png"), default;
  font-family: 'Fixedsys';
  margin: 100px;
  background-color: #111111;
  color: #00C000
    }
  
hr {
  border-color: #00C000
    }
  
a {
  cursor: url("../design/greencursor.png"), default;
  text-decoration: none;
  color: #00FF00
    }
  
a:hover { 
  cursor: url("../design/greencursor.png"), default;
  background-color: #00FF00;
  color: #111111;
    }
    
::-moz-selection {
  color: #111111;
  background: #00C000;
}

::selection {
  color: #111111;
  background: #00C000;
}
